@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url('https://fonts.googleapis.com/css?family=Merienda+One&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color:#FDFEFE ;
  color: #212F3D;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding: 2rem;
}

.sub-head {
  width: 400px;
  margin: 0px auto 0px auto !important; 
  text-align: center;
}


.heading {
  text-align: center;
  font:  40px/1.2 'Merienda One', Helvetica, sans-serif !important;
}

h1 {
  margin: 2rem;
}

.board {
  border: 1rem solid #85929E;
  background: #85929E ;
  width: 400px;
  height: 400px;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  margin: 0px auto 0px auto !important; 
  gap: 1rem;
}

.squares {
  background: #34495E;
  border: none;
  font-size: 4rem;
  /* font-weight: 800; */
  cursor: pointer;
  outline: none;
}

.X {
  color: #EC7063;
}
.O {
  color: #FBFCFC;
}

.info-wrapper {
  justify-content: space-between;
  display: flex;
  justify-content: center;
}

h3 {
  padding: 1rem;
  font:  20px/1.2 'Merienda One', Helvetica, sans-serif !important;
}

li {
  list-style: none;
  display: inline;
}

.info-wrapper button {
  background: #212F3D;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.5rem;
  margin: 0.5rem 1rem;
  font:  10px/1.2 'Merienda One', Helvetica, sans-serif !important;
}